extends layout

block content
  body(class="hold-transition skin-purple sidebar-mini")
    div.wrapper
      include ./header.pug
      aside.main-sidebar
         section.sidebar
           div.user-panel
             div(class="pull-left image")
               <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
             div(class="pull-left info")
               p Alexander Pierce
               a <i class="fa fa-circle text-success"></i> Online
           ul.sidebar-menu
            li.header MAIN NAVIGATION
            li.active <a href="/admin/main"><span>ข้อมูลแจ้งซ่อม</span></a>
            li <a href="/tool"><span>จัดการอุปกรณ์</span></a>
            li <a href="/users"><span>จัดการช่าง</span></a>
            li <a href="/status_order"><span>สถานะการแจ้งซ่อม</span></a>
            li <a href=""><span>สถิติ</span></a>
            li <a href=""><span>รายงาน</span></a>
            li <a href=""><span>รายงานซ่อมเสร็จ</span></a>
            li <a href=""><span>ออกจากระบบ</span></a>
      div.content-wrapper
        section.content-header
          h1 ข้อมูลการแจ้งซ่อม <br><small>รอดำเนินการ การแจ้งซ่อมใหม่</small>
          ol.breadcrumb
            li <a href="#"><i class="fa fa-dashboard"></i> Home</a>
            li <a href="#">Examples</a>
            li.acive Blank page
        section.content
          div.box
            div(class="box-header with-border")
              h3.box-title รอดำเนินการ การแจ้งซ่อมใหม่
            div.box-body
             div
              button(class="btn btn-primary",style="margin:3px;") รายการใหม่ 
              button(class="btn btn-warning",style="margin:3px;") กำลังดำเนินการ   
              button(class="btn btn-success",style="margin:3px;") ดำเนินการเสร็จสิ้น
              button(class="btn btn-danger",style="margin:3px;") ยกเลิก
             table(class='table table-bordered table-striped',id='example1')
              thead
               tr
                 th จัดการ
                 th เลขที่ซ่อม
                 th อุปกรณ์
                 th วันที่แจ้ง
                 th ผู้เเจ้ง
                 th สถานะ
                 th ยกเลิก
              each value in data
               tr
                 td <a class="btn btn-primary">รับงาน</a>
                 td #{value._id}
                 td #{value.item_list[0].tool_name}
                 td #{value.created_date}
                 td 
                   if value.prename_id == '1' 
                     span นาย&nbsp; 
                   else if  value.prename_id == '2'
                     span นาง&nbsp; 
                   else
                     span นางสาว&nbsp;     
                   span #{value.firstname}  #{value.lastname} 
                 td #{value.status_list[0].status_name}
                 td <a class="btn btn-danger">ยกเลิก</a>
      include ./footer.pug
      script.
        $(document).ready(function () {
          $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
              })
            })
        });

          
