extends layout

block content
  div.wrapper
    header.main-header
      nav(class='navbar navbar-static-top')
        div.container
          div.navbar-header
            a(href="#",class="navbar-brand") ระบบแจ้งซ่อมออนไลน์ repairing system
              button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar-collapse")
                i(class='fa fa-bars')
          div(class='collapse navbar-collapse pull-right',id='navbar-collapse')
            ul(class="nav navbar-nav")
              li.dropdown
                a(class='dropdown-toggle',data-toggle='dropdown') ล็อคอิน <span class="caret"></span>
                ul(class='dropdown-menu',role='menu')  
                  li Admin Login
    div.content-wrapper
       div.container
         section.content-header
           h1 ระบบแจ้งซ่อมออนไลน์ <small>Version 1.0</small> 
           ol.breadcrumb <li><a href="#"><i class="fa fa-dashboard"></i>Home</a><li>
         section.content
           div(class='box box-default')
             div(class='box-header with-border')
               h3.box-title ตรวจสอบสถานะการซ่อม
               a(class='btn btn-success pull-right',href='/create') เพิ่มการแจ้งซ่อม
             div.box-body
               table(class='table table-bordered table-striped',id='example2')
                thead
                 tr
                  th เลขที่แจ้ง
                  th อุปกรณ์/รายละเอียด
                  th ผู้แจ้ง
                  th วันที่แจ้ง
                  th สถานะ
                each value,index in data
                 tr
                  td #{value._id}
                  td #{value.item}<br><b>อาการ:#{value.order_detail}</b>
                  td 
                    if value.prename_id == '1' 
                      span นาย&nbsp; 
                    else if  value.prename_id == '2'
                      span นาง&nbsp; 
                    else
                      span นางสาว&nbsp;     
                    span #{value.firstname}  #{value.lastname} 
                  td=value.created_date
                  td=value.status
    script.
      $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true
        })
      })
    footer.main-footer
      div.container
        div(class='pull-right hidden-xs')
          <b>Version</b> 2.4.0
        strong Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.
         span All rights reserved.            
